<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--    namespac 命名空间必须唯一    -->
<mapper namespace="xyz.taoqz.dao.TeacherMapper">
    <!-- resultMap标签:映射实体与表
        type属性：表示实体全路径名
        id属性：为实体与表的映射取⼀个任意的唯⼀的名字
    -->

    <resultMap type="xyz.taoqz.domain.Teacher" id="teacherMap">
        <!-- id标签:映射主键属性
        result标签：映射⾮主键属性
        property属性:实体的属性名
        column属性：表的字段名
        -->
        <id property="tid" column="tid"/>
        <result property="tname" column="tname"/>

        <collection property="students" select="xyz.taoqz.domain.Student.findByTid"  column="tid"/>
    </resultMap>

   <select id="findAll" resultMap="teacherMap">
<!--       select * from teacher t left join tea_stu ts on t.tid = ts.tid-->
<!--                               left join student s on s.sid = ts.sid;-->
       select * from mybatis_xml.teacher;
   </select>

    <select id="findById" parameterType="int" resultMap="teacherMap">
        select * from mybatis_xml.teacher where tid = #{tid};
    </select>

    <insert id="insert" parameterType="teacher">
        insert into mybatis_xml.teacher values (null,#{tname});
    </insert>

    <update id="update" parameterType="Teacher">
        update mybatis_xml.teacher set tname = #{tname} where tid = #{tid};
    </update>

    <delete id="deleteById" parameterType="int">
        delete from mybatis_xml.teacher where tid = #{tid};
    </delete>
</mapper>
